In [1]:
def name_of_function(name):
    '''
        Documents of Function Defination
    '''
    print(f"Hello {name}")

In [2]:
name_of_function("Arman")

Hello Arman

In [6]:
def add_function(num1, num2):
    return num1 + num2

In [7]:
print(add_function(10,20))

30

In [8]:
def say_hello(name):
    print(f"Hello {name}")

In [9]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [10]:
def say_hello(name = "Default"):
    print(f"Hello {name}")

In [11]:
say_hello()

Hello Default

In [12]:
say_hello("Arman")

Hello Arman

In [16]:
def my_func(a, b):
    print(a + b)
    return a + b

In [17]:
result = my_func(10,20)

30

In [18]:
result

30

In [20]:
def sum_numbers(num1, num2):
    return num1 + num2

In [21]:
sum_numbers(10,24)

34

In [23]:
sum_numbers('10','24')

'1024'

**Logic with python functions**

In [24]:
2 % 2

0

In [25]:
3 % 2

1

In [26]:
41 % 40

1

In [27]:
20 % 2 == 0

True

In [29]:
21 % 2 == 0

False

In [30]:
def even_check(num):
    return num % 2 == 0

In [31]:
even_check(20)

True

In [32]:
even_check(21)

False

In [33]:
list1 = [10,30,23,45,60,75,90]

In [35]:
for x in list1:
    print(even_check(x))

True
True
False
False
True
False
True

In [41]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
    return False

In [42]:
check_even_list([1,2,3])

True

In [43]:
check_even_list([1,3,5])

False

In [44]:
check_even_list([1,1,1,2])

True

In [45]:
check_even_list([2,1,1,3])

True

In [56]:
def print_even_numbers(num_list):
    even_numbers = []
    for num in num_list:
        if num % 2 == 0:
            even_numbers.append(num)
        else:
            pass
    if len(even_numbers) >= 1:
        return even_numbers
    else:
        return "even number not found in list"

In [54]:
print_even_numbers([1,2,3,6,7,8])

[2, 6, 8]

In [55]:
print_even_numbers([1,1,1])

'even number not found in list'

**Tuple Unpacking with python Functions**

In [57]:
stock_prices = [('Apple',200),('Good',400),('MSFT',100)]

In [58]:
for item in stock_prices:
    print(item)

('Apple', 200)
('Good', 400)
('MSFT', 100)

In [59]:
for ticker,price in stock_prices:
    print(ticker)

Apple
Good
MSFT

In [60]:
for ticker,price in stock_prices:
    print(price)

200
400
100

In [62]:
for ticker,price in stock_prices:
    print(price + (0.1*price))

220.0
440.0
110.0

In [67]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [68]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return 
    return (employee_of_month,current_max)

In [69]:
employee_check(work_hours)

('Billy', 4000)

In [70]:
name, work_hours = employee_check(work_hours)

In [71]:
name

'Billy'

In [73]:
work_hours

4000

**Interaction between Python Functions**

In [84]:
example = [1,2,3,4,5,6,7]

In [85]:
from random import shuffle

In [90]:
result = shuffle(example)
print(result)

None

In [88]:
type(result)

NoneType

In [91]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [92]:
result = shuffle_list(example)

In [93]:
result

[6, 2, 4, 3, 5, 1, 7]

In [94]:
mylist = ['', '0', '']

In [96]:
shuffle_list(mylist)

['', '', '0']

In [98]:
def player_guess():
    
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("Pick a number : 0, 1 or 2")
    
    return int(guess)

In [103]:
player_guess()

Pick a number : 0, 1 or 21

1

In [104]:
myguess = player_guess()

Pick a number : 0, 1 or 22

In [105]:
myguess

2

In [106]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("CORRECT!!!")
    else:
        print("Wrong Guess!!!")
        print(mylist)

In [111]:
# INITAL LIST
mylist = ['','0','']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number : 0, 1 or 29
Pick a number : 0, 1 or 20
CORRECT!!!

**\*args and **kwargs in python**

In [112]:
def myfunc(a,b,c):
    print(a,b,c)

In [113]:
myfunc(10,20,30)

10 20 30

In [114]:
myfunc(10,20,30,40)

TypeError: myfunc() takes 3 positional arguments but 4 were given

In [115]:
def myfunc(*args):
    print(args)

In [116]:
myfunc(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [117]:
def myfunc(*args):
    for item in args:
        print(item)

In [118]:
myfunc(1,2,3,4,5)

1
2
3
4
5

In [121]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print("My fruit of choice is {}".format(kwargs['fruit']))
    else:
        print("I din't find any fruit")

In [122]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [123]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print("I would like {} {} ".format(args[0],kwargs['food']))

In [124]:
myfunc(10,20,30,fruit='orange', animal='dog', food = 'egg')

(10, 20, 30)
{'fruit': 'orange', 'animal': 'dog', 'food': 'egg'}
I would like 10 egg

In [9]:
def myfunc(inp):
    inp = inp.lower()  
    res = ''
    for x in inp:
        print(x)

In [10]:
myfunc("HElloO")

h
e
l
l
o
o

In [14]:
def myfunc(inp):
    inp = inp.lower()  
    res = ''
    for x in range(len(inp)):
        if x % 2 == 0:
            res += str(inp[x] - 32)
        else:
            res += inp[x]
    
    return res

In [15]:
myfunc("HELoo")

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [16]:
def myfunc(inp):
    inp = inp.swapcase()
    return inp

In [17]:
myfunc("Abcdefgh")

'aBCDEFGH'

In [18]:
"abcdf".upper()

'ABCDF'

In [19]:
"ABCDEF".lower()

'abcdef'

In [20]:
"my name is arMan".title()

'My Name Is Arman'

In [22]:
"armAn".swapcase()

'ARMaN'

In [23]:
"arman".startswith('a')

True

In [25]:
"arman".endswith('n')

True

In [26]:
"arman".endswith('z')

False

Find index of String

In [28]:
"Sachin is a great cricketer".find("chin")

2

In [31]:
"Arman123".isalnum()

True

In [33]:
"Arman".isalnum()

True

In [36]:
"Sachin is great".replace("Sachin","Dhoni")

'Dhoni is great'

In [40]:
max("Sachin")

'n'

In [38]:
min("Sacin")

'S'

In [41]:
"Arman".isspace()

False

In [42]:
"Arman is a Software Engineer".isspace()

False

In [45]:
"A r m a n".isspace()

False

In [48]:
"*****Sachin".lstrip(' ')

'*****Sachin'

In [49]:
"*****Sachin".lstrip('*')

'Sachin'

In [51]:
"*****Sachin".rstrip('*')

'*****Sachin'

In [52]:
"Sachin*****".rstrip('*')

'Sachin'

In [54]:
"****Sachin*****".strip("*")

'Sachin'

In [55]:
def myfunc(inp):
    inp = inp.lower()  
    res = ''
    for x in range(len(inp)):
        if x % 2 == 0:
            res += inp[x].upper()
        else:
            res += inp[x]
    return res

In [58]:
myfunc('HELLO')

'HeLlO'

**Function Practice Exercises**

In [64]:
def check_even(num1, num2):
    if num1 % 2 == 0 and num2 % 2 == 0:
        return min(num1, num2)
    else:
        return max(num1, num2)

In [65]:
check_even(2,4)

2

In [66]:
check_even(3,5)

5

problem - 2

In [77]:
def animal_crackers(inp):
    wordlist = inp.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [78]:
animal_crackers("Animal Alzebra")

True

In [79]:
"Animal Alzebra".split()[0][0]

'A'

In [80]:
"Animal Alzebra".split()[1][0]

'A'

In [82]:
animal_crackers("Aloo Bag")

False

Recommended Way

In [85]:
def animal_crackers(inp):
    wordlist = inp.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [86]:
animal_crackers("Fizz fuzz")

True

problem - 3

In [92]:
def make_twenty(n1, n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [93]:
make_twenty(20,10)

True

Recommended Way

In [89]:
def makes_twenty(n1, n2):
    return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [90]:
makes_twenty(10,10)

True

In [91]:
makes_twenty(10,4)

False

**Level 1 Problem**

In [96]:
def old_macdonald(inp):
    res = ''
    for i in range(len(inp)):
        if i == 0 or i == 3:
            res += inp[i].upper()
        else:
            res += inp[i]
            
    return res

In [97]:
old_macdonald('macdonald')

'MacDonald'

Recommened Way

In [106]:
def old_macdonald(inp):
    first_half = inp[:3]
    second_half = inp[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [107]:
old_macdonald('macdonald')

'MacDonald'

Word Reverse

In [112]:
def master_yoda(inp):
    words = inp.split()
    reverse_word_list = words[::-1]
    return reverse_word_list

In [115]:
master_yoda("India is a great country")

['country', 'great', 'a', 'is', 'India']

In [117]:
mylist = ['a','b','c']

In [118]:
mylist

['a', 'b', 'c']

In [119]:
"--".join(mylist)

'a--b--c'

In [120]:
" ".join(mylist)

'a b c'

Recommended Way

In [121]:
def master_yoda(inp):
    words = inp.split()
    reverse_word_list = words[::-1]
    return ' '.join(reverse_word_list)

In [122]:
master_yoda("Hello I am")

'am I Hello'

problem - 3

In [129]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [130]:
almost_there(94)

True

In [131]:
almost_there(104)

True

In [126]:
almost_there(90)

True

In [132]:
almost_there(150)

False

In [133]:
almost_there(209)

True

**Level - 2 Problems**

In [135]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    
    return False

In [136]:
has_33([1,3,4])

False

In [137]:
has_33([1,3,3])

True

In [141]:
def paper_doll(text):
    res = ''
    for i in text:
        res += 3*i
    
    return res

In [139]:
paper_doll("Hello")

'HHHeeellllllooo'

In [140]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [148]:
def blackjuck(n1,n2,n3):
    sum = n1 + n2 + n3
    if sum <= 21:
        return sum
    elif 11 in [n1,n2,n3] and sum <= 31:
        return sum - 10
    else:
        "BUST"

In [149]:
blackjuck(5,6,7)

18

In [150]:
blackjuck(9,9,9)

In [151]:
blackjuck(9,9,11)

19

**Lamda Expression, Map and Filter**

In [152]:
def square(num):
    return num ** 2

In [153]:
num_list = [1,2,3,4,5,6]

In [155]:
for item in map(square,num_list):
    print(item)

1
4
9
16
25
36

In [156]:
list(map(square,num_list))

[1, 4, 9, 16, 25, 36]

In [157]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return "EVEN"
    else:
        return mystring[0]

In [158]:
names = ['Andy','Eve','Sally']

In [159]:
list(map(splicer,names))

['EVEN', 'E', 'S']

Filter Function Example

In [160]:
def check_even(num):
    return num % 2 == 0

In [161]:
num_list = [1,2,3,4,5,6]

In [162]:
for num in filter(check_even,num_list):
    print(num)

2
4
6

In [163]:
list(filter(check_even,num_list))

[2, 4, 6]

**Lamda Expression**

In [170]:
lambda num: num ** 2

In [171]:
square(5)

25

In [172]:
list (map(lambda num: num ** 2, num_list))

[1, 4, 9, 16, 25, 36]

In [173]:
list(filter(lambda num: num % 2 == 0,num_list))

[2, 4, 6]

In [174]:
names

['Andy', 'Eve', 'Sally']

In [176]:
list(map(lambda name:name[0], names))

['A', 'E', 'S']

In [178]:
list(map(lambda reversename:reversename[::-1],names))

['ydnA', 'evE', 'yllaS']

In [181]:
list(map(lambda num: num % 2 == 0,num_list))

[False, True, False, True, False, True]

In [182]:
list(filter(lambda num: num % 2 == 0,num_list))

[2, 4, 6]

**Nested Statements and Scope**

In [183]:
x = 25 

def printer():
    x = 50
    return x

In [184]:
print(x)

25

In [185]:
printer()

50

In [186]:
print(printer())

50

In [191]:
# GLOBAL
name = "THIS IS A GLOBAL STRING"

def greet():
    
    # ENCLOSING
    name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
        
    hello()

In [190]:
greet()

Hello Sammy

In [192]:
# GLOBAL
name = "THIS IS A GLOBAL STRING"

def greet():
    
    # ENCLOSING
#     name = 'Sammy'
    
    def hello():
        print('Hello ' + name)
        
    hello()

In [193]:
greet()

Hello THIS IS A GLOBAL STRING

In [194]:
# GLOBAL
name = "THIS IS A GLOBAL STRING"

def greet():
    
    # ENCLOSING
    name = 'Sammy'
    
    def hello():
        # LOCAL
        name = 'IM A LOCAL'
        print('Hello ' + name)
        
    hello()

In [198]:
greet()

Hello IM A LOCAL

In [207]:
x = 50 

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [208]:
func(x)

X is 50
I JUST LOCALLY CHANGED X TO 200

In [209]:
print(x)

50

In [211]:
x = 50 

def func():
    global x
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [212]:
print(x)

50

In [213]:
func()

X is 50
I JUST LOCALLY CHANGED X TO 200

In [214]:
print(x)

200

In [215]:
x = 50 

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [216]:
print(x)

50

In [217]:
x = func(x)

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [278]:
print(x)

NEW VALUE

**problem - 1**

In [282]:
def vol(rad):
    return (4/3)*(3.14)*(rad ** 3)

In [283]:
vol(2)

33.49333333333333

**problem - 2**

In [221]:
def ran_check(num, low, high):
    if num >= low and num <= high:
        return f'{num} is in the range between {low} and {high}'
    else:
        return f'{num} is not in range between {low} and {high}'

In [220]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [222]:
ran_check(10,2,4)

'10 is not in range between 2 and 4'

In [223]:
def ran_check(num, low, high):
    if low <= num <= high:
        return f'{num} is in the range between {low} and {high}'
    else:
        return f'{num} is not in range between {low} and {high}'

In [224]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [284]:
ran_check(10,2,5)

'10 is not in range between 2 and 5'

In [285]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        return f'{num} is in the range between {low} and {high}'
    else:
        return f'{num} is not in the range between {low} and {high}'

In [288]:
ran_check(10,20,30)

'10 is not in the range between 20 and 30'

In [289]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [226]:
def ran_bool(num, low, high):
    return low <= num <= high

In [227]:
ran_bool(5,2,7)

True

In [290]:
ran_bool(20,6,19)

False

In [291]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [293]:
ran_bool(5,2,7)

True

In [294]:
ran_bool(10,3,9)

False

**Count Upper and lower case characters in a string**

In [297]:
def up_low(s):
    low_count = 0
    up_count = 0
    for char in s: 
        if char.islower():
            low_count += 1
        elif char.isupper():
            up_count += 1
        else:
            pass
            
    print(f'No. of upper case characters : {up_count}')
    print(f'No. of lower case characters : {low_count}')

In [299]:
up_low("Hello My name is Arman")

No. of upper case characters : 3
No. of lower case characters : 15

In [302]:
def up_low(s):
    d = {'upper':0, 'lower':0}
    for char in s: 
        if char.islower():
            d['lower'] += 1
        elif char.isupper():
            d['upper'] += 1
        else:
            pass
            
    print(f'No. of upper case characters : {d["upper"]}')
    print(f'No. of lower case characters : {d["lower"]}')

In [303]:
up_low("Hello My name is Arman")

No. of upper case characters : 3
No. of lower case characters : 15

**problem - 3**

In [247]:
def unique_list(mylist):
    return (list(set(mylist)))

In [307]:
mylist = [1,1,1,1,2,2,3,3,3,3,4,4,5]

In [308]:
unique_list(mylist)

[1, 2, 3, 4, 5]

In [305]:
def unique_list(mylist):
    seen_numbers = []
    for number in mylist:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [309]:
unique_list(mylist)

[1, 2, 3, 4, 5]

**problem - 4**

In [310]:
def mul_list(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

In [253]:
mylist = [1,2,3,-4]

In [254]:
mul_list(mylist)

-24

**Check Palindrome**

In [317]:
def check_pal(s):
#     rev = s[::-1]
    s = s.replace(' ','')
    return s == s[::-1]

In [262]:
check_pal('kayak')

True

In [263]:
check_pal('race')

False

In [313]:
check_pal('racecar')

True

In [318]:
check_pal('nurses run')

True

**Check Pangram**

In [321]:
def check_pangram(s):
    s = s.lower().replace(' ','')
    print(set(s))
    return len(set(s)) == 26

In [322]:
check_pangram('THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG')

{'x', 'n', 'j', 'e', 'a', 'b', 's', 't', 'l', 'v', 'z', 'd', 'c', 'h', 'i', 'o', 'k', 'r', 'y', 'f', 'm', 'q', 'p', 'g', 'w', 'u'}

True

In [1]:
mylist_ex = [1,2,3,1,2,3,4,5]

In [2]:
list(set(mylist_ex))

[1, 2, 3, 4, 5]

In [3]:
"Reverse String"[::-1]

'gnirtS esreveR'