In [1]:
hungry = True
if hungry:
    print("Feed me!")

Feed me!

In [2]:
hungry = False
if hungry:
    print("Feed me!")
else:
    print("I'm not hungry")

I'm not hungry

In [3]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif(loc == 'Bank'):
    print('Moneys are cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much!")

I do not know much!

**For Loops**

In [7]:
mylist = [4,3,6,7,8,3,2,1]
for item in mylist:
    print(item)

4
3
6
7
8
3
2
1

In [8]:
mylist = [4,3,6,7,8,3,2,1]
for item in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [10]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number's : {num}")

4
Odd number's : 3
6
Odd number's : 7
8
Odd number's : 3
2
Odd number's : 1

In [11]:
list_sum = 0
for num in mylist:
    list_sum += num
print(list_sum)

34

In [12]:
mystring = "Hello World"
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
for letter in "Hello World":
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
for letter in "Hello World":
    print("cool!")

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [17]:
for _ in "Hello World":
    print("cool!")

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [18]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [20]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [24]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [25]:
for a,b in mylist:
    print(b)

2
4
6
8

In [27]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [28]:
for a,b,c in mylist:
    print(b)

2
6
9

In [29]:
for a,b,c in mylist:
    print(c)

3
7
10

In [31]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [32]:
for item in d.keys():
    print(item)

k1
k2
k3

In [34]:
for item in d.values():
    print(item)

1
2
3

In [35]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [36]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [37]:
for key,value in d.items():
    print(value)

1
2
3

**While loops**

In [41]:
x = 0

while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

**Break, Continue and Pass**

In [45]:
x = [1, 2, 3]
for i in x:
    # comment
    pass

print('End of my script')

End of my script

In [46]:
mystring = "sammy"

for i in mystring:
    print(i)

s
a
m
m
y

In [47]:
for i in mystring:
    if i == 'a':
        continue
    print(i)

s
m
m
y

In [48]:
for i in mystring:
    if i == 'a':
        break
    print(i)

s

In [56]:
x = 0 

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [58]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

**Useful Operators**

In [59]:
mylist = [1,2,3]

In [60]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [61]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [62]:
for num in range(0,10,3):
    print(num)

0
3
6
9

In [63]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [66]:
list(range(0,11,2))

TypeError: 'tuple' object is not callable

In [69]:
index_count = 0

for letter in "abcde":
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [71]:
index_count = 0

for letter in "abcde":
    print("At index {1} the letter is {0}".format(letter,index_count))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [73]:
index_count = 0
word = "abcde"
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

*enumerate() function***

In [76]:
index_count = 0
word = "abcde"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [75]:
index_count = 0
word = "abcde"
for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

**zip() function**

In [77]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [78]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [79]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [80]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [82]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [83]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [84]:
list(zip(mylist1,mylist2,mylist3))

TypeError: 'tuple' object is not callable

In [85]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [86]:
x in [1,2,3]

True

In [87]:
'x' in [1,2,3]

False

In [90]:
x in ['x','y','z']

False

In [91]:
'x' in ['x','y','z']

True

In [92]:
2 in [1,2]

True

In [93]:
'a' in 'a world'

True

In [94]:
'mykey' in {'mykey':345}

True

In [95]:
d = {'mykey':345}
 
345 in d.keys()

False

In [96]:
345 in d.values()

True

In [97]:
mylist = [10,60,30,5,40]

In [98]:
min(mylist)

5

In [99]:
max(mylist)

60

In [100]:
sorted(mylist)

[5, 10, 30, 40, 60]

In [101]:
mylist.sort()

In [102]:
mylist.reverse()

In [103]:
mylist

[60, 40, 30, 10, 5]

In [104]:
from random import shuffle

In [105]:
mylist = [2,4,5,3,7]

In [109]:
shuffle(mylist)

In [110]:
mylist

[2, 3, 5, 7, 4]

In [111]:
myshuffle = shuffle(mylist)

In [112]:
myshuffle

In [114]:
type(myshuffle)

NoneType

In [115]:
from random import randint

In [118]:
randint(0,100)

60

In [123]:
mynum = randint(0,10)

In [124]:
mynum

7

In [125]:
input('Enter a number here')

Enter a number here467

'467'

In [128]:
input('What is your name ? ')

What is your name ? Arman

'Arman'

In [129]:
res = input("what is your name ? ")

what is your name ? Arman

In [130]:
res

'Arman'

In [131]:
res = input("Favourate Number ? ")

Favourate Number ? 17

In [132]:
res

'17'

In [133]:
type(res)

str

In [134]:
float(res)

17.0

In [135]:
int(res)

17

**List Comprehensions**

In [136]:
mystring = "hello"

In [137]:
mylist = []
for item in mystring:
    mylist.append(item)

In [139]:
mylist

['h', 'e', 'l', 'l', 'o']

**Recommended**

In [140]:
new_list = [letter for letter in mystring]

In [141]:
new_list

['h', 'e', 'l', 'l', 'o']

In [142]:
new_list = [qweqwe for qweqwe in "wordtwo"]

In [143]:
new_list

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [146]:
my_num_list = [num for num in range(0,11)]

In [147]:
my_num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
my_num_list = [num**2 for num in range(0,11)]

In [149]:
my_num_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [150]:
my_num_list = [num for num in range(0,11) if num % 2 == 0]

In [151]:
my_num_list

[0, 2, 4, 6, 8, 10]

In [152]:
my_num_list = [num**2 for num in range(0,11) if num % 2 == 0]

In [153]:
my_num_list

[0, 4, 16, 36, 64, 100]

In [154]:
celcius = [0,10,20,34.5]

fahrenheit = [(9/5)*temp + 32 for temp in celcius]

In [155]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [156]:
fahrenheit = []

In [157]:
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [158]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [162]:
results = [x if x % 2 == 0 else 'ODD' for x in range(0,11)]

In [163]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [164]:
mylist = []

In [165]:
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x * y)

In [166]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [167]:
my = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [168]:
my

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

**Python Statemnets Tests**

In [196]:
st = "Sam print only the words that start with s in this sentence"

In [197]:
res = st.split()

In [198]:
for x in res:
    if x[0].lower() == 's':
        print(x)

Sam
start
s
sentence

In [177]:
res

['print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [178]:
result = [item for item in res if item[0] == 's']

In [179]:
result

['start', 's', 'sentence']

In [180]:
result = [num for num in range(1, 51) if num % 3 == 0]

In [181]:
result

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [182]:
st = "print every word in this sentence that has an even number of letters"

In [183]:
res = st.split()

In [184]:
result = [item for item in res if len(item) % 2 == 0]

In [185]:
result

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

In [199]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [191]:
st = 'create a list of the first letters of every word in this string'

In [192]:
res = st.split()

In [193]:
result = [s[0] for s in res]

In [194]:
result

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [200]:
st = 'create a list of the first letters of every word in this string'

In [201]:
result = [s[0] for s in st.split()]

In [202]:
result

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']